body {
    width: 99%;
    height: 100%;
    box-sizing: content-box;
    background-image: url("src/assets/background2.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}   