*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
}


#page{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 1510px;
  height: 730px;
}

/*------------------------------------------------------ Start of Nav pane ------------------------------------------*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #e4e1e1;
  overflow-x: hidden;
  transition: 0.3s;
  font-weight: 600;
}


.navLinks {
  position: absolute;
  margin-top: 25px;
  left: 280px;
}


.logo{
  position: absolute;
  top: 20px;
  left: 85px;
}


.sideNavlinks {
  position: absolute;
  top: 250px;
  left: 15px;
  width: 350px;
  cursor: pointer;
}


.sideNavlinks a {
  border-bottom: solid rgba(145, 139, 139, 0.404) 1px;
}
  
  
.sidenav a {
  padding: 28px 8px 8px 40px;
  text-decoration: none;
  font-size: 30px;
  color: #000000;
  display: block;
  transition: 0.1s;
  background-color: #e4e2e2e1;
}


.icons {
  float: right;
}
  
  
.sidenav a:hover {
  background-color: #28a745;
  border-radius: 10px;
  color: white;
}
  
  
.sidenav .closebtn {
  position: absolute;
  top: -20px;
  right: 0px;
  margin-left: 50px;
  cursor: pointer;
}
  
 
.upperBar{
  position: absolute;
  margin-left: 30px;
  margin-top: -48px;
  box-sizing: content-box;
  background-color: #000000b0;
  width: 1470px;
  height: 60px;
  z-index: 0;
}
  
  
.logged{
  position: absolute;
  margin-top: 20px;
  margin-left: 91.0%;
  z-index: 0;
  color: white;
  cursor: pointer;  
  text-decoration: none;
}


.logged:hover  {
  text-decoration: underline;
}




#userIcon{
  position: absolute;
  top: -5px;
  margin-left: 97%;
  box-sizing: content-box;
  height: 30px;
  width: 30px;
  border: solid  white 3px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}


.tooltiptext{
  visibility: hidden;
  background-color: black;
  color: #fff;
  box-sizing: content-box;
  height: 50px;
  width: 150px;
  text-align:center;
  position: absolute;
  top: 10px;
  margin-left: 1260px;
  z-index: 1;
  font-size: 15px;
  font-style: italic;
  opacity: 0;
}


  
.loggedIcon:hover .tooltiptext{
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
}

  
  
.topic{
  position: absolute;
  font-size: 25px;
  top: -5px;
  margin-left: 690px;
  color: rgb(255, 255, 255);
}


/*------------------------------------------------------ End of Nav pane ------------------------------------------*/



/*------------------------------------------------------ Start of Content of Body ------------------------------------------*/


.mySlides{
  box-sizing: content-box;
  background-color: white;
  width: 1500px;
  height: 670px;
  position: absolute;
  margin-top: 20px;
  overflow: hidden;
}


.imgslide1{
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: content-box;
  width: 1510px;
  height: 670px;
  position: absolute;
  margin-top: 0px;
  margin-left: 1500px;
  transition: 1.5s;
  background-image: url("src/assets/Image Slider/imageSliderImage4.png");
  background-size: cover;
  background-repeat: no-repeat;
}


.imgslide2{
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: content-box;
  width: 1510px;
  height: 670px;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  transition: 1.5s;
  background-image: url("src/assets/Image Slider/imageSliderImage2.png");
  background-size: cover;
}


.imgslide3{
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: content-box;
  width: 1510px;
  height: 670px;
  position: absolute;
  margin-top: 0px;
  margin-left: 1500px;
  transition: 1.5s;
  background-image: url("src/assets/Image Slider/imageSliderImage3.png");
  background-size: cover;
}


.divChart1{
  box-sizing: content-box;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 100px;
  overflow: hidden;
  width: 490px;
  height: 350px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  z-index: 1;
  text-align: center;
}


/* .divChart1:hover{
  transform: scale(2); 
  transition: 0.3s;
  position: absolute;
  margin-left: 260px;
  width: 520px;
} */


.divChart2{
  box-sizing: content-box;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 100px;
  margin-left: 505px;
  overflow: hidden;
  width: 490px;
  height: 350px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  z-index: 0; 
  text-align: center;
}


/* .divChart2:hover{
  transform: scale(2); 
  transition: 0.3s;
  z-index: 2;
  position: absolute;
  margin-left: 480px;  
  width: 520px;
} */


.divChart3{
  box-sizing: content-box;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 100px;
  margin-left: 1010px;
  overflow: hidden;
  width: 490px;
  height: 350px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  z-index: 0;
  text-align: center;
}


/* .divChart3:hover{
  transform: scale(2); 
  transition: 0.3s;
  position: absolute;
  margin-left: 720px;
  width: 520px;
  z-index: 1;
} */


.charts{
  box-sizing: content-box;
  background-color: rgb(231, 216, 216);
  margin-top: 700px;
  margin-left: 0px;
  width: 1500px;
  height: 480px;
  position: absolute;
}


.chartTopic{
  text-align: center;
}


.chartTopicBorder1 {
  width: 500px;
  height: 2px;
  background: #777773;
  position: absolute;
  margin-top: 40px;
  left: 60px;
}


.chartTopicBorder2 {
  width: 500px;
  height: 2px;
  background: #777773;
  position: absolute;
  margin-top: -35px;
  left: 940px;
}


.block{
  box-sizing: content-box;
  width: 1500px;
  height: 1800px;
  position:absolute;
  margin-top: 1190px;
  background-color: #ffffff;
  border-radius : 10px;
}


.topic2 {
  color: rgb(32, 32, 32); 
  text-align: center;
}


.border1 {
  width: 800px;
  height: 10px;
  border-radius: 20px;
  background: #7777737c;
  position: absolute;
  margin-top: 58px;
  left: 350px;
}


/* .border2 {
  width: 250px;
  height: 2px;
  background: #777773;
  position: absolute;
  margin-top: -30px;
  left: 1200px;
} */


.cheapestItemLink{
  box-sizing: content-box;
  background-color: #28a745;
  text-align: center;
  padding: 11px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgb(153, 224, 174);
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 1311px;
  transition: 0.4s;
}


.cheapestItemLink:hover{
  background-color: #296d39;
  transition: 0.4s;
}


.selection {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;  
  background-color: #28a745;
  color: white;
  position: absolute;
  top: 2px;
  left:2px;
  z-index: 1;
  transition: 0.4s;
  box-shadow: 0px 0px 2px 2px rgb(153, 224, 174);
}


.selection:hover {
  background-color: #296d39;
  transition: 0.4s;
}


/* .selection {
  height: 50px;
  width: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;  
  background-color: #28a745;
  color: white;
  position: absolute;
  top: 65px;
  z-index: 1;
  transition: 0.4s;
  visibility: hidden;
} */


.image img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  display: block;
  height: 300px;
}


.image2 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  display: block;
  height: 300px;
}

.image3 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  display: block;
  height: 300px;

}


.image4 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  display: block;
  height: 300px;
}


.image5 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  display: block;
  height: 300px;
}


.image6 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  display: block;
  height: 300px;
}


.cards{
  width: 30%;
  margin-left: 265px;
  margin-top: 100px;
  background-color: #b7ccc2;
  display: inline-block;
  box-sizing: content-box;
  border-radius: 30px  ;
}


.cards:hover{
  box-shadow: 0px 0px 10px 10px rgb(141, 135, 135);
  transition: 500ms;
  cursor: pointer;
  background-color:#28a745; 
  color: white;
}


.title{
  text-align: center;
  padding: 5px;
  font-weight: 800;
}


.price{
  text-align: center;
  padding: 5px;
  font-size: 25px;
  font-weight: 600;
}


#card1 {
  position: absolute;
  top: 20px;
  left: -100px;
}


#card2 {
  position: absolute;
  top: 20px;
  left: 610px;
}


#card3 {
  position: absolute;
  top: 580px;
  left: -100px;
}


#card4 {

  position: absolute;
  top: 580px;
  left: 610px;
}


#card5 {
  position: absolute;
  top: 1140px;
  left: -100px;
}


#card6 {
  position: absolute;
  top: 1140px;
  left: 610px;
}


/*------------------------------------------------------ End of Content of Body ------------------------------------------*/



/*--------------------------------------------------------- Footer section ----------------------------------------------*/
  

.backToTop{
  position: absolute;
  top: -50px;
  left: -0px;
  width: 1500px;
  height: 50px;
  background-color:#10110fb6 ;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
}
  
  
.backToTop:hover{
  background-color:#222121 ;
}
  

.footer{
  box-sizing: content-box;
  background-color:rgb(255, 255, 255);
  width: 1480px;
  height: 290px;
  text-align: center;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-weight: 900;
  position: absolute;
  margin-top: 3050px;
  margin-left: 0px;
}
  

.footerDescription{
  position: absolute;
  top: 130px;
  margin-left: 400px;
  box-sizing: content-box;
  width: 500px;
  padding: 20px;
  height: 230px;
}


.footerLogo{
  position: absolute;
  top: -180px;
  margin-left: 500px;
}


.socialLinks{
  margin-top: 40px;
  margin-left: 1200px;
}


.middleSection {
  position: absolute;
  top: 200px;
  margin-left: -1150px;
}
  

.accessLinks {
  position: absolute;
  margin-left: 25%;
  text-align: left;
}


.accessLinks a {
  cursor: pointer;
  text-align: left;
  font-weight: 500;
  color: black;
  text-decoration: none;
}


.accessLinks a:hover {
  color: #000000a4;
}

  
.categories{
  position: absolute;
  top: 10px;
  margin-left: 48%;
  text-align: left; 
}
  
  
.categories a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
}
  
  
.categories a:hover{
  color: #000000a4;
}


.middleTopic{
  position: absolute;
  margin-top: -210px;
  left: 695px;
}
  

.rightSection{
  box-sizing: content-box;
  border: 0px solid black;
  color: black;
  width: 550px;
  height: 245px;
  padding: 5px;
  margin-top: 0px;
  margin-left: 60%;
}


.contactLinks {
  margin-top: 30px;
  margin-right: 30px ;
}


.contactLinks a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}


.contactLinks a:hover {
  color: #000000a4;
}  


.copyright{
  position: absolute;
  top: 310px;
  left: 0px;
  width: 100%;
  height: 40px;
  color: white;
  padding-top: 20px;
}